@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Outfit', sans-serif;

  --site-background-color: #d5e1ef;
  --white: hsl(0, 0%, 100%);
  --grey: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--site-background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  padding: 1em;
  border-radius: 1.5em;
  width: 20em;
  display: block;
}

.card__image {
  display: inline;
  width: 100%;
  border-radius: 0.75em;
}

.card__title {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin: 1em;
  font-weight: 700;
  color: var(--dark-blue);
}

.card__text {
  text-align: center;
  color: var(--grey);
  margin: 1.5em;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px
}
